.section-intelligence {
  margin-top: -350px;
  padding-top: 68px;
  padding-bottom: 15px;
  position: relative;
  z-index: 3;
  .featured-image {
    width: 100%;
  }
  .title {
    @include media-breakpoint-up('md') {
      margin-top: 81px;
      margin-left: 95px;
    }
    margin-bottom: 20px;
  }
  .content {
    margin-bottom: 24px;
    max-width: 416px;
    @include media-breakpoint-up('md') {
      margin-left: 95px;
    }
  }
}